@model IEnumerable<AuthStore.Models.Messagess>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userName = User.Identity.Name;

}


<div class="app-main__inner">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <!-----------------------  Include the above in your HEAD tag -------------------->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" />

    <link href="~/css/Chatstyle.css" rel="stylesheet" />
    <link href="~/css/StyleChatDemo.css" rel="stylesheet" />
    <div class="jumbotron bg-deep-blue">
        <h2 class="text-center text-primary">
            <i class="fab fa-facebook-messenger">&nbsp; Public Chatting</i>
        </h2>
        <div class="container">
           
                <div class="card  bg-deep-blue">
                    <div class="col-md-12 col-xl-12 chat">
                        <div>
                            <div class="card-body msg_card_body">
                                <div class="scroll-area-md">
                                    <div class="scrollbar-container ps--active-y">

                                        <ul id="chat">

                                            @if (Model != null)
                                            {
                                                @foreach (var message in Model.OrderBy(m => m.When))
                                                {

                                                    string containerClass, timePosition, textAlign, contcolor, offset;
                                                    if (userName == message.UserName)
                                                    {

                                                        containerClass = "container darker";
                                                        timePosition = "time-right text-light";
                                                        textAlign = "text-right text-white";
                                                        contcolor = "bg-primary";
                                                        offset = "col-md-6 offset-md-6";
                                                    }
                                                    else
                                                    {
                                                        containerClass = "container";
                                                        timePosition = "time-left";
                                                        textAlign = "text-left";
                                                        contcolor = "bg-light";
                                                        offset = "";
                                                    }

                                                    <div class="row">
                                                        <div class="@offset">
                                                            <div class="@containerClass @contcolor">

                                                                <p class="sender @textAlign">@message.UserName</p>
                                                                <p class="@textAlign">@message.Text</p>
                                                                <span class="@timePosition">@message.When.ToString("M/dd/yyyy hh:MM tt")</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>

                            </div>

                    </div>
                </div>
                </div>
                <form asp-action="Create"
                      data-ajax-begin="clearInputField" data-ajax-complete=""
                      data-ajax-failure="alert('Fail')" data-ajax-success="sendMessage"
                      data-ajax="true" data-ajax-method="POST">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="input-group">
                        @*<div class="input-group-append">
                        <span class="input-group-text attach_btn">

                            <i class="fas fa-paperclip"></i>
                        </span>
                    </div>*@
                        <input name="Text" class="form-control type_msg" id="messageText" placeholder="Type your message......" />
                        <div class="input-group-append">
                            <button type="submit" class="input-group-text send_btn" id="submitButton"><i class="fas fa-location-arrow"></i></button>
                        </div>
                    </div>
                    <input type="hidden" value="@userName" name="username" />
                </form>
            </div>
        </div>
</div>


@if (User.Identity.IsAuthenticated)
{
    <script>
        const userName = "@ViewBag.CurrentUserName";
    </script>
}

@section scripts {
    <script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/signrReqHandler.js"></script>
}


